@model NominaCRUD.Models.TiposIngreso

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles</h1>

<div>
    <h4>Tipos Ingreso</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreTipo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreTipo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.TipoIngresoId">Editar</a> |
    <a asp-action="Index">Volver a la lista</a>
</div>
